@{
    ViewData["Title"] = "??n hàng Thành công";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <h2>??n hàng Thành công</h2>
    <p>Danh sách ??n hàng ?ã hoàn thành.</p>
</div>