@{
    ViewData["Title"] = "??n hàng ?ã Xác nh?n";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <h2>??n hàng ?ã Xác nh?n</h2>
    <p>Danh sách ??n hàng ?ã xác nh?n.</p>
</div>